@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* colors */

$primary-background-color: rgb(255, 255, 255);
$secondary-background-color: rgb(240, 241, 244);
$tertiary-background-color: rgb(248, 248, 248);
$dark-purple-color: rgb(99, 52, 186);
$normal-purple-color: rgb(179, 161, 222);
$light-purple-color: rgb(245, 242, 253);
$dark-orange-color: rgb(237, 94, 49);
$normal-orange-color: rgb(243, 158, 107);
$light-orange-color: rgb(251, 235, 228);
$red-color: rgb(242, 108, 105);
/* fonts */
$font-family: "Poppins", sans-serif;
$font-size-xsm: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.8rem;
$font-size-xl: 4rem;
$gap: 2rem;
/* margins */
$margin-sm: 2rem;
$margin-md: 3rem;
$margin-xsm: 1.2rem;
/* paddings */
$padding-lg: 4rem;
$padding-md: 3rem;
$padding-sm: 2rem;
$padding-xsm: 1rem;

body {
  font-family: $font-family;
  font-size: $font-size-sm;
  letter-spacing: 1px;
}

h1 {
  font-size: $font-size-xl;
  color: rgb(51, 51, 51);
}

h2 {
  font-size: $font-size-lg;
  color: rgb(68, 68, 68);
}

h3 {
  font-size: $font-size-md;
  color: rgb(68, 68, 68);
}

h4 {
  font-size: $font-size-sm;
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
}


i {
  font-size: $font-size-md;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border: 1px solid;
  margin-top: 1%;
  padding: 2%;
}
